 @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700&display=swap'); 

body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    overflow: hidden;
    font-family: "Poppins", sans-serif;
    background-color: #333;
}

.lives{
    display: flex;
    position: absolute;
    top: 10px;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    color: #fff;
}

.main{
    align-items: center;
    align-content: center;
    align-self: center;
    text-align: center;
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    font-weight: 500;
    color: #fff;
}

.game-container {
    display: flex;
    justify-content: center;
    position: relative;
    justify-content: center;
    align-self: center;
    align-items: center;
    flex-direction: column;
    text-align: center;
    margin: auto;
    width: 500px;
    height: 300px;
    border-radius: 20px;
    background-color: rgb(241, 241, 241)
}

.chose{
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    position: absolute;
    top: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #333;
}

.fromto{
    display: flex;
    justify-content: center;
    align-items: center;
}

.look{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 5px;
    width: 5px;
}

.inputfromto{
    width: 50px;
    margin-left: 5px;
    margin-right: 10px;
}

.output{
    font-size: 50px;
}

.user-input{
    flex-wrap: wrap;
    flex-direction: row;
    display: flex;
    position: absolute;
    bottom: 15px;
    font-family: "Poppins", sans-serif;
    font-weight: 500;
    color: #333;
}

button{
    margin-left: 5px;
    text-align: center;
    justify-content: center;
    align-items: center;
    font-family: "Poppins", sans-serif;
    font-size: 15px;
    height: px;
    border-radius: 10px;
    border: solid 1px #333;
    transition: background-color 0.2s ease, color 0.2s ease;
}

button:hover{
    border: solid 1px #634214;
    background-color: #f09b1c;
    color: #fff;
}
